.containerInfo p {
  line-height: 2rem;
  font-size: 1.5rem;
}

.img {
  margin-top: 4rem;
}

.containerInfo h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #012a6d;
}

.containerInfo span {
  font-size: 18px;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .containerInfo p {
    font-size: 1.3rem; 
    line-height: 1.8rem; 
  }

  .containerInfo h1 {
    font-size: 1.8rem; 
  }

  .containerInfo span {
    font-size: 16px; 
  }

  .img {
    margin-top: 2rem; 
  }
}

@media (max-width: 480px) {
  .containerInfo p {
    font-size: 1.2rem; 
    line-height: 1.6rem; 
  }

  .containerInfo h1 {
    font-size: 1.5rem; 
  }

  .containerInfo span {
    font-size: 14px; 
  }

  .img {
    margin-top: 1rem; 
  }
}