.searchFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(43, 0, 48); 
}

.searchFilter div {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}


